@charset "utf-8";
/* CSS Document */

/* layout */
#wrapper {
   position: relative;
   width: 1024px;
   display: flex;
   margin: 0 auto;
}

/*#header { height:300px;
      background-image:url(../imagenes/header.jpg);} */
#main {
   height: 400px;
   overflow: auto;
   margin: auto;
   margin-top: 150px !important;
   /*background-color:#ebf4fb;*/
   background-color: #BFD7ED;
   box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
   -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
   border-radius: 25px;
   position: relative;
}

#navbar {
   float: left;
   width: 150px;
   height: 300px;
   /*border-right: 2px solid rgb(60,86,160); */
   padding-top: 300px;
   color: rgb(46, 65, 122);
}

#navbar ul {
   list-style: none;
   font-weight: bold;
}

#navbar ul li {
   padding-top: 10px;
}

#navbar ul li a {
   color: rgb(46, 65, 122);
   text-decoration: none;
}

#navbar ul li a:hover {
   color: rgb(128, 0, 64);
   text-decoration: none;
}

#content {
   float: left;
   width: 824px;
}

#content2 {
   float: left;
   width: 824px;
}

#footer {
   height: 25px;
   background-color: rgb(60, 86, 160);
   text-align: center;
   color: #fff;
   font-size: 120%;
   padding: 20px;
}

#titulo {
   font-size: 150%;
   font-weight: bold;
   color: #fff;
   position: absolute;
   top: 150px;
   left: 50px;
}

#admin {
   margin-top: 30px;
   margin-left: 120px;
}

#error {
   position: absolute;
   top: 300px;
   left: 360px;
   color: #f00;
   font-weight: bold;
}

#mensaje {
   text-align: center;
   color: #f00;
   font-weight: bold;
   padding-top: 20px;
}

h2 {
   color: rgb(128, 0, 64);
   text-align: center;
}

#centrado {
   text-align: center;
}

#content2 {
   margin-left: 50px !important;
   margin-top: 50px !important;
}

/* tablas */

#content table {
   margin: 20px auto;
   border-collapse: collapse;
}

#content td, #content th {
   border-bottom: 1px solid #000;
   padding: 5px;
}

#content th {
   background-color: rgb(142, 184, 225);
}




/* formulario */




body {
   font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

p, h1, form, button {
   border: 0;
   margin: 0;
   padding: 0;
}

.spacer {
   clear: both;
   height: 1px;
}

/* ———– My Form ———– */
.myform {
   margin: 0 auto;
   /* cambiar tamaños */
   width: 450px;
   padding: 14px;
}

/* ———– stylized ———– */
#stylized {
   border: solid 2px #b7ddf2;
   background: #ebf4fb;
   position: absolute;
   top: 250px;
   left: 290px;
}

#stylized h1 {
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 8px;
}

#stylized p {
   font-size: 11px;
   color: #666666;
   margin-bottom: 20px;
   border-bottom: solid 1px #b7ddf2;
   padding-bottom: 10px;
}

#stylized label {
   display: block;
   font-weight: bold;
   text-align: right;
   width: 140px;
   float: left;
}

#stylized .small {
   visibility: hidden;
   color: red;
   display: block;
   position: absolute;
   font-size: 11px;
   font-weight: normal;
   text-align: right;
   width: 140px;
}

#stylized input, #stylized select {
   float: left;
   font-size: 12px;
   padding: 4px 2px;
   border: solid 1px #aacfe4;
   width: 200px;
   margin: 2px 0 20px 10px;
}

#stylized textarea {
   float: left;
   font-size: 12px;
   padding: 4px 2px;
   border: solid 1px #aacfe4;
   width: 200px;
   margin: 2px 0 20px 10px;
}

#stylized button {
   clear: both;
   margin-left: 150px;
   width: 125px;
   height: 31px;
   background: #666666 url(img/button.png) no-repeat;
   text-align: center;
   line-height: 31px;
   color: #FFFFFF;
   font-size: 11px;
   font-weight: bold;
}