@charset "utf-8";
/* CSS Document */

/* layout */

#content {
   float: left;
   width: 1024px;
   margin: auto;
   background-color: #fff;
   border-radius: 25px;
   box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
}

body {
   background: #F5FAFF;
   background: -webkit-linear-gradient(right, #F5FAFF, #C4E0FC);
   background: -moz-linear-gradient(right, #F5FAFF, #C4E0FC);
   background: linear-gradient(to left, #F5FAFF, #C4E0FC);
}

a:link {
   text-decoration: none !important;
   font-family: "Arial", sans-serif;
   font-weight: bold;
   color: #000;
}

h2 {
   color: #000;
   font-family: "Arial", sans-serif;
   text-align: center;

}


 /* tabla */

#centrado {
   text-align: center;
}

thead tr {
   text-align: center;
}

tbody td {
   text-align: center;
}


/* formulario */

p, h1, form, button {
   border: 0;
   margin: 0;
   padding: 0;
}

/* ———– My Form ———– */
.myform {
   margin: 0 auto;
   /* cambiar tamaños */
   width: 450px;
   padding: 14px;
}

/* Stylized solo usado durante los formularios es lo unico que falta por cambiar */
#stylized {
   border: solid 2px #b7ddf2;
   background: #ebf4fb;
   position: absolute;
   top: 250px;
   left: 290px;
}

#stylized h1 {
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 8px;
}

#stylized p {
   font-size: 11px;
   color: #666666;
   margin-bottom: 20px;
   border-bottom: solid 1px #b7ddf2;
   padding-bottom: 10px;
}

#stylized label {
   display: block;
   font-weight: bold;
   text-align: right;
   width: 140px;
   float: left;
}

#stylized .small {
   visibility: hidden;
   color: red;
   display: block;
   position: absolute;
   font-size: 11px;
   font-weight: normal;
   text-align: right;
   width: 140px;
}

#stylized input, #stylized select {
   float: left;
   font-size: 12px;
   padding: 4px 2px;
   border: solid 1px #aacfe4;
   width: 200px;
   margin: 2px 0 20px 10px;
}

#stylized button {
   clear: both;
   margin-left: 150px;
   width: 125px;
   height: 31px;
   background: #666666 url(img/button.png) no-repeat;
   text-align: center;
   line-height: 31px;
   color: #FFFFFF;
   font-size: 11px;
   font-weight: bold;
}